<div class="navbar-wrapper">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <h1>
        <%= link_to "gSchoolRoster", root_path %>
        <small>
          <%= link_to " click here to add yourself...", new_profile_path %>
        </small>
      </h1>
    </div>
  </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->
